sales_team_access_controls/static/description/assets/desktop.ini
sales_team_access_controls/static/description/assets/icons/desktop.ini
sales_team_access_controls/static/description/assets/misc/desktop.ini
sales_team_access_controls/static/description/assets/screenshots/desktop.ini
sales_team_access_controls/static/description/desktop.ini
sales_team_access_controls/static/description/assets/modules/desktop.ini
